*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 50vh;
}

@media (max-width:480px){
    body{
        background-color: rgb(51, 97, 172);
        font-family: "Barlow Condensed", sans-serif;
    }

    .play{
        width: 30px;
        height: 25px;
    }

    .hidden{
        display:none;
    }

    .close{
        width: 25px;
        height: 25px;
    }

    .menu__header{
        padding-bottom: 20px;
    }

    .botaoFechar{
        display: flex;
        justify-content: end;
        margin-bottom: 10px;
    }

    .alerta__container{
        height: 100vh;
    }

    .alerta{
        background-color: #fff;
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        padding-top: 10px;
        position: absolute;
        top: 30%;
        left:5%;
    }

    .alerta p{
        font-size: 14px;
    }

    .aside{
        height: 100vh;
        width: 250px;
        background-color: rgb(255, 192, 56);
        position: absolute;
        border-right: 3px solid black;
    }

    .aside__titulo{
        margin-left: 20px;
        font-size: 30px;
        font-weight: bold;
    }

    .aside__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aside__menu img{
        max-width: 50px;
        max-height: 50px;
    }

    .aside__pontos{
        text-align: center;
        height: 150px;
        width: 180px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: rgb(51, 97, 172);
        border-radius: 20px;
    }

    .aside__carteira{
        text-align: center;
        height: 150px;
        width: 180px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: rgb(51, 97, 172);
        border-radius: 20px;
    }

    .aside__footer{
        position: absolute;
        bottom: 0;
        font-size: 10px;
        color: rgba(0, 0, 0, .8);
        left: 39%;
    }

    .pontos{
        display: block;
        padding-top: 30px;
        font-weight:600;
    }

    .transfere{
        margin-top: 30px;
        padding: 5px 15px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid black
    }

    .saldo{
        display: block;
        padding-top: 30px;
        font-weight:600;
    }

    .aposta{
        padding: 5px 15px;
        width: 150px;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        outline-color: white;
    }

    .aposta::placeholder{
        text-align: center;
    }
    
    .botao__menu{
        width: 50px;
        height: 50px;
    }

    .sobre{
        text-align: center;
        background-color: rgb(255, 192, 56);
        width: 300px;
        margin: 0 auto;
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .explicacao{
        width: 200px;
        margin: 0 auto;
        font-size: 20px;
    }

    .apostaFeita{
        display: block;
        margin-top: 20px;
        color: #fff;
    }

    .apostaBotao{
        padding: 5px 15px;
        margin-top: 10px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid black;
    }

    .saldoRestante{
        display: block;
        margin-top: 5px;
        color: #fff;
    }

    .jogo{
        text-align: center;
        padding-top: 5px;
        margin-bottom: 20px;
    }

    .container__jogo{
        width: 240px;
        margin: 0 auto;
    }

    .container__jogo ul{
        display: inline-flex;
        list-style: none;
        flex-wrap: wrap;
    }

    .block{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
    }

    .block img{
        height: 50px;
        width: 50px;
    }

    .aposta{
        max-width: 100%;
    }

    .reiniciar{
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        padding: 5px 15px;
        border-radius: 10px;
        background-color: rgb(255, 192, 56);
        height: 40px;
        font-weight: bold;
        border: 1px solid black
    }

    .resposta{
        display: block;
        margin-top: 20px;
    }
    
    .text{
        color: black;
    }

    .blue{
        color: rgb(51, 97, 172);
    }

}